.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.tac { text-align: center; }
.color-blue-light { color: #61dafb; }
.text-small { font-size: 14px; }
.w500 { width: 500px; }
.h200 { height: 200px; }
.mt100{ margin-top: 100px; }
.pointer-events-none { pointer-events: none; }
